<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms and Conditions - RacerFly</title>
    <link rel="stylesheet" href="{% static 'utils/tnc.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <div id="_content">
        <div id="_main_content">
            <div class="b_text"><b>
                Terms and Conditions
            </b></div>
            <div class="tnc">
                <h3>Delivery time :</h3>
                <ul>
                    
                </ul>
            </div>
            <div class="tnc">
                <h3>Return Policy :</h3>
                <ul>
                    <li>No return is avilable.</li>
                    <li>Once you buy a product, product <b class="red">can't</b> be returned.</li>
                </ul>
            </div>
            <div class="tnc">
                <h3>Payment methods :</h3>
                <ul>
                    <li>Payment on Delivery <b class="green b">PoD</b> option is not available.</li>
                </ul>
            </div>
            
            
            <!-- Add more like this -->
        
            <!-- Use class="green" ==> for green colour and for red use class="red"  -->
            <!-- For brackets around something (to show it is imp to know) put class="b". -->
            <!-- examples are given above ... -->
            <!--
                <div class="tnc">
                <h3>Delivery time :</h3>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div> -->
        
        
        
        
        </div>
    </div>
</body>
</html>