{% extends 'baseOut.html' %}

{% block body %}

<style>
#rp_{
	width:100%;
	text-align:center;
	font-size: 18px;
	line-height:20px;
	padding:40px 0;
	font-family: "Montserrat",Arial, Helvetica, sans-serif;
}
#rp_ form{
	display: block;
	height:80px;
	padding:20px;
	width: calc(100% + 10px);
	box-sizing: border-box;
	position: relative;
}
#rp_in{
	width:300px;
	padding:10px;
	background:#fff;
	border:solid 2px #aaa;
	/* letter-spacing: 5px; */
	font-size:20px;
	border-radius: 10px 0 0 10px;
	font-family: "Montserrat",Arial, Helvetica, sans-serif;
	outline: none;
}
#rp_btn:focus,#rp_in:focus{
	box-shadow:0 0 6px 1px rgba(0, 0,0, 0.2);
}
#rp_btn{
	width:200px;
	border:solid 2px #aaa;
	border-left:none;
	background:#aaa;
	position: relative;
	height:24px;
	font-size:15px;
	box-sizing: content-box;
	padding:10px;
	top:-1.5px;
	left:-6px;
	border-radius:0 10px 10px 0;
	cursor: pointer;
	color:#fff;
	outline:none;
	font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

@media (max-width:593px){
	#rp_ form{
		height:100px;
	}
	#rp_btn{
		top:-2px;
		left:0;
		border-radius:0 0 10px 10px;
		border:solid 2px #aaa;
		/* border-color:#ddd; */
		border-top:none;
	}
	#rp_in{
		border-radius: 10px;
	}
}

#rp_s{
	max-width:700px;
	margin:0 auto;
	text-align:left;
	font-size:15px;
}
#rp_s h4{
	font-size:18px;
	margin-bottom:10px;
}
</style>

<div id="rp_">
	{% if success %}
		<div> 
			<h2>Password Updated Successfully</h2>
		</div>
	{% elif error %}
		<div> 
			<h2>{{ error }}</h2>
		</div>
	{% endif %}
	{% if not success %}
		<form method="post">
			{% csrf_token %}
			<input id="rp_in" type="password" name='password' required placeholder="Enter new Password">
			<button id="rp_btn"> Reset Password </button>
		</form>
		<div id="rp_s">
			<ul>
				<h4>Instructions :</h4>
				<!-- Add instructions here -->
				<li>
					Enter your new password <label for="rp_in" style="color:blue; cursor:pointer;"><a>here</a></label>.
				</li>
				<li>
					After entering the <b>new Password</b>, tap on <b>Reset Password</b> button. 
				</li>
			</ul>
		</div>
		{% endif %}
{% endblock %}